[defaults]
inventory = inventories/poc/hosts.yml
roles_path = roles
host_key_checking = False
forks = 10
stdout_callback = default
deprecation_warnings = True
interpreter_python = /usr/bin/python3

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
