# {{ ansible_managed }}
# Cloudflare API credentials pour certbot DNS-01 challenge
# Token scope : Zone.DNS:Edit + Zone.Zone:Read sur monerometrics.net

dns_cloudflare_api_token = {{ letsencrypt_cloudflare_api_token }}
